@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

 


html, body {
    margin: 0;
    height: 100%;
  }

  .nom{

    font-family: 'Fredericka the Great', cursive;
font-size: xx-large;
}
.card-body tetine{

  height:500px;
}

h1{

/*   font-family: 'Faster One', cursive; */
font-family:BachFat;

  text-align: center;
  margin-bottom:5%;
  color: #3cccdf;
   animation-duration: 15s;
  animation-name: slidein;
  
}

p{

margin-bottom:5%;
}
.image{
margin-left:46%;

}

@keyframes slidein {
  from {
    margin-left: -90%;
   
  }

  to {
    margin-left: 0%;
    
  }
}



h2{

  font-family: 'Bangers', cursive;
}
    p{
      font-family: 'Alfa Slab One', cursive;
        
}
.text-muted{
  font-family: 'Alfa Slab One', cursive;
  font-size: large;
  margin-right: 8%;


}


body{
  background-color: #FFF;
}


form{

margin-left: 15%;


}


h2,p{


  text-align: center;
}


.container{

margin-top: 7%;


}


  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }

  
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #3cccdf, #34e1ff);

    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a{
   font-family: 'Fredericka the Great', cursive;
   text-decoration: none;
   color:#f8f9fa;
  
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
      
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #34e1ff;
    }
    .menu > li:not(:last-child) {
      border-bottom: 100px solid #444;
    }
  }

  @media (max-width: 700px) {

.container{

margin-top:30%;

}

.image{

  margin-left:37%;
}

   

  }

  footer {
    margin-top: 100px;
    background-color: #000;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  footer .social-media{
    display: flex;
  }
  footer .social-media p{
    margin-right: 15px;
    padding: 5px;
    text-align:center;
    width: 20px;
    cursor:pointer;
  }
  